<%= turbo_frame_tag id="content-slider", class:"w-full" do%>
  <article id="animation-region" class="flex flex-col w-full animate__animated animate__fadeInRight">
    <%= turbo_frame_tag id="project-information", class:"w-full completed" do%>
      <div class="h-min min-h-[64rem] bg-base-300 animate__animated animate__fadeIn rounded-lg">
        <section class="text-neutral">
          <div class="container py-6 lg:py-12 mx-auto flex flex-col">
            <div class="w-5/6 lg:w-4/6 mx-auto">
              <p>
                <strong>Title:</strong>
                <%= @blog.title %>
              </p>
            </div>
            <p>
              <strong>Desc:</strong>
              <%= @blog.desc %>
            </p>
            <p>
              <strong>Body:</strong>
              <%= simple_format(@blog.body) %>
            </p>
            <p>
              <strong>Associated url:</strong>
              <%= @blog.associated_url %>
            </p>
            <p>
              <strong>Url text:</strong>
              <%= @blog.url_text %>
            </p>
          </div>
        </section>
      </div>
    <% end %>
  </article>
<% end %>
