<footer id="site-foot" class="p-10 footer bg-base-300 text-base-content mt-auto font-open-sans" data-turbo="false">
  <div>
    <span class="font-bold uppercase mb-0.5 font-josefin">Site Navigation</span>
    <%= link_to  "Home", root_path, class:"link link-hover" %>
    <%= link_to  "About", about_path, class:"link link-hover" %>
    <%= link_to  "Portfolio", projects_path, class:"link link-hover" %>
    <%= link_to  "Blogs", blogs_path, class:"link link-hover" %>
    <%= link_to 'Resume (.pdf in new tab)', root_url+'Chase_Covington.pdf', target: '_blank', class:"link link-hover" %>
    <% if cookies[:dark_mode] %>
      <%= link_to "Disable Dark Mode", light_mode_path, class:"link link-hover", :data => {turbo: "false"} %>
    <% else %>
      <%= link_to "Enable Dark Mode", dark_mode_path, class:"link link-hover", :data => {turbo: "false"} %>
    <% end %>
  </div>
  <div>
    <span class="font-bold uppercase mb-0.5 font-josefin">Made With</span>
    <%= link_to  "Ruby On Rails 7.0", 'https://rubyonrails.org/', class:"link link-hover", target:'_blank', rel:"noreferrer" %>
    <%= link_to  "Tailwind CSS 3.0", 'https://tailwindcss.com/', class:"link link-hover", target:'_blank', rel:"noreferrer"%>
    <%= link_to  "DaisyUI for Tailwind 1.16", 'https://daisyui.com/', class:"link link-hover", target:'_blank, rel:"noreferrer"' %>
    <%= link_to  "Hotwire 7.1", 'https://hotwired.dev/', class:"link link-hover", target:'_blank', rel:"noreferrer" %>
    <%= link_to  "Font Awesome Icons", 'https://fontawesome.com/', class:"link link-hover", target:'_blank', rel:"noreferrer" %>
  </div>
  <div>
    <span class="font-bold uppercase mb-0.5 font-josefin">Social</span>
    <div class="grid grid-flow-col gap-4 align-middle leading-3">
      <%= mail_to 'mchasecov@gmail.com', target:'_blank', class:'align-middle bg-neutral rounded-full', title: "Link to send me an email.", rel:"noreferrer" do %>
        <i class="fas fa-envelope text-accent p-2 text-2xl" ></i>
      <% end %>
      <%= link_to 'https://github.com/MchaseCov', target:'_blank', title: "Link to my Github Profile.", rel:"noreferrer" do %>
        <i class='fab fa-github text-2xl'></i>
      <% end %>
      <%= link_to 'https://www.linkedin.com/in/chase-covington-784886228/', target:'_blank', title: "Link to my LinkedIn Profile.", rel:"noreferrer" do %>
        <i class='fab fa-linkedin-in text-2xl'></i>
      <% end %>
    </div>
  </div>
</footer>
