<nav class="navbar mb-2 shadow-lg bg-primary text-neutral-content" id="site-nav">
  <div class="hidden px-2 mx-2 navbar-start lg:flex">
    <%= link_to 'Chase Covington', root_path, class:"text-3xl font-josefin", 'data-turbo-frame': "content-slider"%>
  </div>
  <div class="mx-auto lg:px-2 lg:mx-2 navbar-center flex">
    <div class="flex items-stretch font-josefin">
      <%= link_to 'Home', root_path, class:"btn btn-ghost btn-sm rounded-btn lg:hidden", 'data-turbo-frame': "content-slider"%>
      <%=link_to "About", about_path, class:"btn btn-ghost btn-sm rounded-btn", 'data-turbo-frame': "content-slider"%>
      <%=link_to "Portfolio", projects_path, class:"btn btn-ghost btn-sm rounded-btn", 'data-turbo-frame': "content-slider" %>
      <%=link_to "Blogs", blogs_path, class:"btn btn-ghost btn-sm rounded-btn", 'data-turbo-frame': "content-slider"%>
      <%= link_to 'Resume', root_url+'Chase_Covington.pdf', target: '_blank', class:"btn btn-ghost btn-sm rounded-btn  hidden lg:inline-flex" %>
    </div>
  </div>
  <div class="navbar-end  hidden lg:flex">
    <% if cookies[:dark_mode] %>
      <%= button_to light_mode_path, method: :get, class:"btn btn-square btn-ghost", :data => {turbo: "false"} do %>
        <i class="fas fa-sun" style='font-size:1.5em'></i>
      <% end %>
    <% else %>
      <%= button_to dark_mode_path, method: :get, class:"btn btn-square btn-ghost", :data => {turbo: "false"} do %>
        <i class="fas fa-moon" style='font-size:1.5em'></i>
      <% end %>
    <% end %>
    <div data-tip="My LinkedIn" class="tooltip tooltip-left tooltip-neutral">
      <button class="btn btn-square btn-ghost">
        <%= link_to 'https://www.linkedin.com/in/chase-covington-784886228/', target:'_blank' do %>
          <i class="fab fa-linkedin-in" style='font-size:1.5em'></i>
        <% end %>
      </button>
    </div>
    <div data-tip="My GitHub Profile" class="tooltip tooltip-left tooltip-neutral">
      <button class="btn btn-square btn-ghost">
        <%= link_to 'https://github.com/MchaseCov', target:'_blank' do %>
          <i class="fab fa-github" style='font-size:1.5em'></i>
        <% end %>
      </button>
    </div>
  </div>
</nav>
