<% title @project.title %>
<% meta_tag :description, "A page detailing my project on #{@project.title}" %>
<%= turbo_frame_tag id="content-slider", target: '_top', class:"w-full", data: {turbo_action: "advance"} do%>
  <article id="animation-region" class="flex flex-col w-full animate__animated animate__fadeInRight">
    <%= turbo_frame_tag id="project-information", class:"w-full completed" do%>
      <div class="h-min min-h-[64rem] bg-base-300 animate__animated animate__fadeIn rounded-lg">
        <section class="text-neutral">
          <div class="container py-6 lg:py-12 mx-auto flex flex-col">
            <div class="w-5/6 lg:w-4/6 mx-auto">
              <h1 class="font-bold text-3xl font-josefin text-center pb-1"><%=@project.title%></h1>
              <% if @project.hidden? %>
                <h2 class="text-center">This project has been hidden from the main feed to not draw attention away from new projects that are more representative of my current skillset</h2>
              <% end %>
              <div class="rounded-2xl h-72 overflow-hidden">
                <%=image_tag @project.screenshot_url, class:"object-cover object-top h-full w-full", alt:"Project Screenshot"  %>
              </div>
              <div class="flex flex-col lg:flex-row mt-10">
                <div class="lg:w-1/3 text-center lg:pr-8 lg:py-8">
                  <div data-tip="View Code On Github!" class="tooltip tooltip-top">
                    <%= link_to @project.repo_url, target:"_blank", 'aria-label': "View repo on Github" do %>
                      <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-base-100 shadow-lg hover:shadow-xl">
                        <i class='fab fa-github text-7xl'></i>
                      </div>
                    <% end %>
                  </div>
                  <div class="flex flex-col items-center text-center justify-center">
                    <h2 class="font-medium font-josefin mt-4 text-lg">Quick Features</h2>
                    <div class="w-12 h-1 bg-accent rounded mt-2 mb-4"></div>
                    <div class="flex flex-wrap lg:w-4/5 mx-2 w-full gap-y-1">
                      <!-- Repeating list of boxes -->
                      <% @project.feature_list.each do |feature|%>
                        <div class="bg-base-100 rounded flex p-4 h-full w-full items-center">
                          <i class="fas fa-angle-right px-1 text-secondary"></i>
                          <h4 class="font-josefin font-medium"><%=feature.humanize%></h4>
                        </div>
                      <% end %>
                      <% if @count.present? %>
                        <div class="bg-base-100 rounded flex p-4 h-full w-full items-center">
                          <i class="fas fa-angle-right px-1 text-secondary"></i>
                          <h4 class="font-josefin font-medium">Currently at <%=@count%> downloads </h4>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="lg:w-2/3 lg:pl-8 lg:py-8 lg:border-l border-secondary lg:border-t-0 border-t mt-4 pt-4 lg:mt-0 text-center lg:text-left">
                  <p class="leading-relaxed text-lg mb-4">
                    <%=@project.full_desc%>
                    <br>
                    <%= link_to @project.live_url, target:"_blank", class:"inline-flex items-center text-primary font-josefin flex items-center mt-5 hover:underline hover:decoration-dotted hover:decoration-2" do%>
                      <i class="fas fa-external-link-alt pr-1"></i>
                      View live website!
                    <% end %>
                    <br>
                    (Live website demos are hosted on Heroku may take around 10 seconds to start the dyno. This is normal and only happens after the demo is left inactive.)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="w-full py-2 mt-1 rounded-lg bg-accent">
        <h5 class="text-center">
          Like the project? Check out my <%= link_to  " contact information!", about_path, target:"_blank", class:"font-medium underline" %>
        </h5>
      </div>
    <% end %>
  </article>
<% end %>
